<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 

  
  <!-- web.xml是java web项目的入口（web项目是没有main方法的） -->
  <servlet>
  	<!-- servlet-name是类的别名 -->
    <servlet-name>ProductServlet</servlet-name>
    <!-- servlet-class是类的全名，为方便维护，以后会用别名代替全名 -->
    <servlet-class>cn.yd.shop.servlet.ProductServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.yd.shop.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>cn.yd.shop.servlet.UsersServlet</servlet-class>
  </servlet>



  <!-- 指定了当前servlet的访问地址 -->
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <!-- 访问当前servlet的url地址 -->
    <url-pattern>/servlet/ProductServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/servlet/UsersServlet</url-pattern>
  </servlet-mapping>

  
    <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  

</web-app>